.banner {
  padding: 180px 0;
  color: white;
}

.btn-green {
  text-decoration: none;
  padding: 15px 35px;
  color: white;
  border-radius: 50px;
  background-color: #1EDD88;
}

.container-banner {
  margin: auto;
  width: 900px;
  height: 230px;
}

.banner p {
  color: rgb(174, 174, 174);
  margin-bottom: 35px;
  font-size: 20px;
}
